<template name="footer">
<footer id="footer" class="color_9">
  <div class="container">

        <div class="row">

            <div class="grid_12">

                <p class="info color_1">

                    Copyright

                    ©

                    <span id="copyright-year"></span>

                    |

                    <a href="index-6.html">

                        Privacy Policy

                    </a>

                    <!-- {%FOOTER_LINK} -->

                </p>

            </div>

        </div>

    </div>

</footer>
</template>
