<template name="header">
	<header id="header">
		<div class="camera-wrapper">
			<div id="camera" class="camera-wrap">
				<img src="/images/aaa1.png">
				<div class="fadeIn camera_caption">
					<div class="box_1">
						<div class="inner text-center">
							<h2 class="color_1">Join!</h2>
							<p class="color_1">CampusCrush</p>
							<a class="btn" data-toggle="modal" data-target="#emailModal">Get started</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="stuck_container">
			<div class="container">
				<div class="row">
					<div class="grid_12">
						<div class="brand put-left">
							<h1><a href="./">CampusCrush</a></h1>
						</div>
						<nav class="nav put-right">
							{{#if user}}
							<ul class="sf-menu">
								<li class="current"><a href="./">Home</a></li>
								<li><a class="fa fa-caret-down" href="index-1.html">About Us</a>
									<ul>
										<li><a href="#">History</a></li>
										<li><a href="#">Archive</a></li>
										<li><a class="fa fa-caret-right" href="#">People</a>
											<ul>
												<li><a href="#">Nam liber</a></li>
												<li><a href="#">Duisautem</a></li>
												<li><a href="#">Eodemo</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="index-2.html">Dating</a></li>
								<li><a href="index-3.html">Add profile</a></li>
								<li><a href="index-4.html">News</a></li>
								<li><a href="index-5.html">Contacts</a></li>
							</ul>
							{{/if}}
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
</template>
