<template name="header">
<div class="pre-loader">
			<div class="load-con">
				<img src="/img/berry/logo.png" class="animated fadeInDown" alt="">
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
		</div>
		<header class="invisible">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">

					<div class="navbar-header">
						{{#if user}}
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="fa fa-bars fa-lg"></span>
						</button>
						{{/if}}
						<a class="navbar-brand" href="index.html">
							<img src="/img/berry/logo.png" alt="" class="logo">
						</a>
					</div>
					{{#if user}}
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#about">about</a>
							</li>
							<li><a href="#features">features</a>
							</li>
							<li><a href="#reviews">reviews</a>
							</li>
							<li><a href="#screens">screens</a>
							</li>
							<li><a href="#demo">demo</a>
							</li>
							<li><a class="getApp" href="#getApp">get app</a>
							</li>
							<li><a href="#support">support</a>
							</li>
						</ul>
					</div>
					{{/if}}
				</div>

			</nav>

			<div class="tp-banner-container">
				<div class="tp-banner">
					<ul>

						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

							<img src="/img/transparent.png" alt="slidebg1" data-bgfit="cover" class='hidden-xs' data-bgposition="left top" data-bgrepeat="no-repeat">


							<div class="tp-caption lfl fadeout" data-x="left" data-y="bottom" data-hoffset="30" data-voffset="0" data-speed="500" data-start="700" data-easing="Power4.easeOut">
								<img src="/img/berry/Slides/campuscrush-hand.png" alt="">
							</div>
							<div class="tp-caption lfl fadeout hidden-xs visible-md" data-x="left" data-y="center" data-hoffset="700" data-voffset="0" data-speed="500" data-start="700" data-easing="Power4.easeOut">
								<img src="/img/berry/iphone-berry.png"  alt="">
							</div>
							<div class="tp-caption large_white_bold sft hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut">
								Who is
							</div>
							<div class="tp-caption large_white_light sfr hidden-xs" data-x="770" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1400" data-easing="Power4.easeOut">

							</div>
							<div class="tp-caption large_white_light sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
								Your Crush?
							</div>
							<div class="tp-caption sfb" data-x="550" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
								<button type='button' data-toggle='modal' data-target="#emailModal" class="btn btn-primary inverse btn-lg">GET STARTED</button>
							</div>
						</li>

						<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">

							<img src="/img/transparent.png" alt="slidebg1" data-bgfit="cover" class='hidden-xs' data-bgposition="left top" data-bgrepeat="no-repeat">


							<div class="tp-caption lfb fadeout" data-x="center" data-y="bottom" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="700" data-easing="Power4.easeOut">
								<img src="/img/berry/Slides/campuscrush-pages.png" alt="">
							</div>
							<div class="tp-caption large_white_light sft" data-x="center" data-y="170" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1400" data-easing="Power4.easeOut">
								Spot Your Crush Now!!!
							</div>
						</li>

						<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">

							<img src="/img/transparent.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">


							<div class="tp-caption customin customout hidden-xs" data-x="right" data-y="center" data-hoffset="0" data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-voffset="50" data-speed="1000" data-start="700" data-easing="Power4.easeOut">
								<img src="/img/berry/Slides/campuscrush.png" alt="">
							</div>
							<div class="tp-caption customin customout visible-xs" data-x="center" data-y="center" data-hoffset="0" data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-voffset="0" data-speed="1000" data-start="700" data-easing="Power4.easeOut">
								<img src="/img/berry/Slides/campuscrush.png" alt="">
							</div>
							<div class="tp-caption lfb visible-xs" data-x="center" data-y="center" data-hoffset="0" data-voffset="400" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">
								<a href="#" class="btn btn-primary inverse btn-lg" data-toggle="modal" data-target="#emailModal">Know More</a>
							</div>
							<div class="tp-caption mediumlarge_light_white sfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="-50" data-speed="1000" data-start="1000" data-easing="Power4.easeOut">
								Everyone Has A Crush On Somebody...
							</div>
							<div class="tp-caption mediumlarge_light_white sft hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut">

							</div>
							<div class="tp-caption small_light_white sfb hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="80" data-speed="1000" data-start="1600" data-easing="Power4.easeOut">
								<p>Love often begins with one look, one word, one crush.  <br>Let your campus crush know you like him/her now Anonymously or Publicly.<br></p>
							</div>
							<div class="tp-caption lfl hidden-xs" data-x="left" data-y="center" data-hoffset="0" data-voffset="160" data-speed="1000" data-start="1800" data-easing="Power4.easeOut">
								<button type='button' data-toggle='modal' data-target='#emailModal' class="btn btn-primary inverse btn-lg">GET STARTED</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</header>
</template>
