<template name="home">
	<body>

		<div class="page">
<!--========================================================
                          HEADER
                          =========================================================-->
                          <header id="header">
                          	<div class="camera-wrapper">
                          		<div id="camera" class="camera-wrap">
                          			<div data-src="images/index_slide01.jpg">
                          				<div class="fadeIn camera_caption">
                          					<div class="box_1">
                          						<div class="inner">
                          							<h2 class="color_1">Join!</h2>

                          							<p class="color_1">It’s FREE</p>

                          							<a class="btn" href="#">Get started</a>
                          						</div>
                          					</div>
                          				</div>
                          			</div>
                          			<div data-src="images/index_slide02.jpg">
                          				<div class="fadeIn camera_caption">
                          					<div class="box_1">
                          						<div class="inner">
                          							<h2 class="color_1">Join!</h2>

                          							<p class="color_1">It’s FREE</p>

                          							<a class="btn" href="#">Get started</a>
                          						</div>
                          					</div>
                          				</div>
                          			</div>
                          			<div data-src="images/index_slide03.jpg">
                          				<div class="fadeIn camera_caption">
                          					<div class="box_1">
                          						<div class="inner">
                          							<h2 class="color_1">Join!</h2>

                          							<p class="color_1">It’s FREE</p>

                          							<a class="btn" href="#">Get started</a>
                          						</div>
                          					</div>
                          				</div>
                          			</div>
                          		</div>
                          	</div>
                          	<div id="stuck_container">
                          		<div class="container">
                          			<div class="row">
                          				<div class="grid_12">
                          					<div class="brand put-left">
                          						<h1>
                          							<a href="./">
                          								Dating agency
                          							</a>
                          						</h1>
                          					</div>

                          					<nav class="nav put-right">
                          						<ul class="sf-menu">
                          							<li class="current">
                          								<a href="./">Home</a>
                          							</li>
                          							<li>
                          								<a class="fa fa-caret-down" href="index-1.html">About Us</a>
                          								<ul>
                          									<li>
                          										<a href="#">History</a>
                          									</li>
                          									<li>
                          										<a href="#">Archive</a>
                          									</li>
                          									<li>
                          										<a class="fa fa-caret-right" href="#">People</a>
                          										<ul>
                          											<li>
                          												<a href="#">Nam liber</a>
                          											</li>
                          											<li>
                          												<a href="#">Duisautem</a>
                          											</li>
                          											<li>
                          												<a href="#">Eodemo</a>
                          											</li>
                          										</ul>
                          									</li>
                          								</ul>
                          							</li>
                          							<li>
                          								<a href="index-2.html">Dating</a>
                          							</li>
                          							<li>
                          								<a href="index-3.html">Add profile</a>
                          							</li>
                          							<li>
                          								<a href="index-4.html">News</a>
                          							</li>
                          							<li>
                          								<a href="index-5.html">Contacts</a>
                          							</li>
                          						</ul>
                          					</nav>
                          				</div>
                          			</div>
                          		</div>
                          	</div>
                          </header>

<!--========================================================
                          CONTENT
                          =========================================================-->
                          <section id="content">
                          	<div class="container">
                          		<div class="row">
                          			<div class="grid_12">
                          				<h2 class="header_1 skin_1 indent_1 color_2">
                          					About Us
                          				</h2>

                          				<p class="intro_1">
                          					Ut wisi enim ad minim veniam, quis nostrud ex
                          				</p>

                          				<div class="wrap_1 wrap_2">
                          					<div class="box_2">
                          						<div class="row">
                          							<div class="grid_6">
                          								<div class="caption">
                          									<p>
                          										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                          										euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                          										minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                          										aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                          										vulputate velit esse molestie consequat.
                          									</p>
                          								</div>
                          							</div>
                          							<div class="grid_2">
                          								<div class="img-wrap">
                          									<img data-src="images/index_img01.jpg" src="images/preloader.gif" alt="Image 1"/>
                          								</div>
                          							</div>
                          							<div class="grid_2">
                          								<div class="img-wrap">
                          									<img data-src="images/index_img02.jpg" src="images/preloader.gif" alt="Image 2"/>
                          								</div>
                          							</div>
                          							<div class="grid_2">
                          								<div class="img-wrap">
                          									<img data-src="images/index_img03.jpg" src="images/preloader.gif" alt="Image 3"/>
                          								</div>
                          							</div>
                          						</div>
                          					</div>
                          				</div>
                          			</div>
                          		</div>
                          	</div>

                          	<div class="bg_1">
                          		<div class="container">
                          			<div class="row">
                          				<div class="grid_12">
                          					<h2 class="header_1 skin_2 indent_1 color_1">
                          						How it works
                          					</h2>

                          					<p class="intro_1 color_1">
                          						Typi non habent claritatem insitam est usus le
                          					</p>
                          				</div>
                          			</div>

                          			<div class="row wrap_3 wrap_4">
                          				<div class="grid_3">
                          					<div class="box_3">
                          						<a class="icon_1" href="#"></a>
                          						<h3 class="text_1 color_1">
                          							<a href="#">Register on our website</a>
                          						</h3>
                          					</div>
                          				</div>
                          				<div class="grid_3">
                          					<div class="box_3">
                          						<a class="icon_2" href="#"></a>

                          						<h3 class="text_1 color_1">
                          							<a href="#">
                          								Add information <br/>
                          								about yourself
                          							</a>
                          						</h3>
                          					</div>
                          				</div>
                          				<div class="grid_3">
                          					<div class="box_3">
                          						<a class="icon_3" href="#"></a>

                          						<h3 class="text_1 color_1">
                          							<a href="#">
                          								Analyze the list <br/>
                          								of people
                          							</a>
                          						</h3>

                          					</div>
                          				</div>
                          				<div class="grid_3">
                          					<div class="box_3">
                          						<a class="icon_4" href="#"></a>
                          						<h3 class="text_1 color_1">
                          							<a href="#">
                          								Find Your LOVE
                          							</a>
                          						</h3>
                          					</div>
                          				</div>
                          			</div>
                          		</div>
                          	</div>

                          	<div class="container">
                          		<div class="row">
                          			<div class="grid_12">
                          				<h2 class="header_1 skin_1 indent_1 color_2">
                          					Our news
                          				</h2>

                          				<p class="intro_1">
                          					Ut wisi enim ad minim veniam, quis nostrud ex
                          				</p>
                          			</div>
                          		</div>

                          		<div class="row wrap_5 wrap_6">
                          			<div class="grid_4">
                          				<div class="box_4">
                          					<div class="img-wrap">
                          						<a data-type="lightbox" href="images/index_img08_big.jpg">
                          							<img src="images/index_img08.jpg" alt="Image 8"/>
                          						</a>
                          					</div>
                          					<div class="caption">
                          						<div class="btn-wrap bg_2">
                          							<p class="text_2 bg_1 color_1">
                          								<span>21 Jan 2014</span>
                          							</p>

                          							<a href="#" class="text_3 color_3">
                          								<span>More info</span>
                          							</a>
                          						</div>
                          						<p>
                          							Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                          							laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                          							exerci tation...
                          						</p>
                          					</div>
                          				</div>
                          			</div>
                          			<div class="grid_4">
                          				<div class="box_4">
                          					<div class="img-wrap">
                          						<a data-type="lightbox" href="images/index_img09_big.jpg">
                          							<img src="images/index_img09.jpg" alt="Image 9"/>
                          						</a>
                          					</div>
                          					<div class="caption">
                          						<div class="btn-wrap bg_2">
                          							<p class="text_2 bg_1 color_1">
                          								<span>21 Jan 2014</span>
                          							</p>

                          							<a href="#" class="text_3 color_3">
                          								<span>More info</span>
                          							</a>
                          						</div>
                          						<p>
                          							Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                          							dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci ta...
                          						</p>
                          					</div>
                          				</div>
                          			</div>
                          			<div class="grid_4">
                          				<div class="box_4">
                          					<div class="img-wrap">
                          						<a data-type="lightbox" href="images/index_img10_big.jpg">
                          							<img src="images/index_img10.jpg" alt="Image 10"/>
                          						</a>
                          					</div>
                          					<div class="caption">
                          						<div class="btn-wrap bg_2">
                          							<p class="text_2 bg_1 color_1">
                          								<span>21 Jan 2014</span>
                          							</p>

                          							<a href="#" class="text_3 color_3">
                          								<span>More info</span>
                          							</a>
                          						</div>
                          						<p>
                          							Nam liber tempor cu consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                          							laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, qui...
                          						</p>
                          					</div>
                          				</div>
                          			</div>
                          		</div>
                          	</div>

                          	<div class="stellar-section">
                          		<div class="stellar-block first">
                          			<div class="bg_4">
                          				<div class="bg_3">
                          					<div class="container">
                          						<div class="row">
                          							<div class="grid_12">
                          								<h2 class="header_1 skin_2 indent_1 color_1">
                          									Success stories
                          								</h2>

                          								<p class="intro_1 color_1">
                          									Claritas est etiam processunt claritatem insitam est us le
                          								</p>

                          								<div class="wrap_7 wrap_8">
                          									<div id="owl">
                          										<div class="item">
                          											<div class="box_3">
                          												<div class="caption">
                          													<p class="color_1">
                          														Ceet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                          														tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                          														enim ad
                          														minim veniam, quis nostrud exerci amcorper suscipit lobortis nisl ut
                          														aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
                          														hendrerit in vulputa
                          													</p>
                          												</div>
                          												<h3 class="text_1 color_1">John & Kate</h3>
                          											</div>
                          										</div>
                          										<div class="item">
                          											<div class="box_3">
                          												<div class="caption">
                          													<p class="color_1">
                          														Ceet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                          														tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                          														enim ad
                          														minim veniam, quis nostrud exerci amcorper suscipit lobortis nisl ut
                          														aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
                          														hendrerit in vulputa
                          													</p>
                          												</div>
                          												<h3 class="text_1 color_1">John & Kate</h3>
                          											</div>
                          										</div>
                          										<div class="item">
                          											<div class="box_3">
                          												<div class="caption">
                          													<p class="color_1">
                          														Ceet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                          														tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                          														enim ad
                          														minim veniam, quis nostrud exerci amcorper suscipit lobortis nisl ut
                          														aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
                          														hendrerit in vulputa
                          													</p>
                          												</div>
                          												<h3 class="text_1 color_1">John & Kate</h3>
                          											</div>
                          										</div>
                          									</div>
                          								</div>
                          							</div>
                          						</div>
                          					</div>
                          				</div>
                          			</div>
                          		</div>
                          	</div>

                          	<div class="container">
                          		<div class="row">
                          			<div class="grid_12">
                          				<h2 class="header_1 skin_1 indent_1 color_2">
                          					Last Added Profiles
                          				</h2>

                          				<p class="intro_1">
                          					Eodem modo typi, qim veniam, qui
                          				</p>
                          			</div>
                          		</div>

                          		<div class="wrap_5 wrap_9">
                          			<div id="owl2">
                          				<div class="item">
                          					<div class="row">
                          						<div class="grid_3">
                          							<div class="box_4">
                          								<div class="img-wrap">
                          									<a data-type="linkbox" href="#">
                          										<img src="images/index_img11.jpg" alt="Image 11"/>
                          									</a>
                          								</div>
                          								<div class="caption">
                          									<a class="btn_1 bg_1 type_1 text_2" href="#">Christina, 23 years old</a>
                          								</div>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_4">
                          								<div class="img-wrap">
                          									<a data-type="linkbox" href="#">
                          										<img src="images/index_img12.jpg" alt="Image 12"/>
                          									</a>
                          								</div>
                          								<div class="caption">
                          									<a class="btn_1 bg_1  type_1 text_2" href="#">James, 27 years old</a>
                          								</div>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_4">
                          								<div class="img-wrap">
                          									<a data-type="linkbox" href="#">
                          										<img src="images/index_img13.jpg" alt="Image 13"/>
                          									</a>
                          								</div>
                          								<div class="caption">
                          									<a class="btn_1 bg_1  type_1 text_2" href="#">Samantha, 21 years old</a>
                          								</div>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_4">
                          								<div class="img-wrap">
                          									<a data-type="linkbox" href="#">
                          										<img src="images/index_img14.jpg" alt="Image 14"/>
                          									</a>
                          								</div>
                          								<div class="caption">
                          									<a class="btn_1 bg_1  type_1 text_2" href="#">Jacob, 26 years old</a>
                          								</div>
                          							</div>
                          						</div>
                          					</div>
                          				</div>
                          				<div class="item">
                          					<div class="row">
                          						<div class="grid_3">
                          							<div class="box_4">
                          								<div class="img-wrap">
                          									<a data-type="linkbox" href="#">
                          										<img src="images/index_img11.jpg" alt="Image 11"/>
                          									</a>
                          								</div>
                          								<div class="caption">
                          									<a class="btn_1 bg_1 type_1 text_2" href="#">Christina, 23 years old</a>
                          								</div>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_4">
                          								<div class="img-wrap">
                          									<a data-type="linkbox" href="#">
                          										<img src="images/index_img12.jpg" alt="Image 12"/>
                          									</a>
                          								</div>
                          								<div class="caption">
                          									<a class="btn_1 bg_1  type_1 text_2" href="#">James, 27 years old</a>
                          								</div>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_4">
                          								<div class="img-wrap">
                          									<a data-type="linkbox" href="#">
                          										<img src="images/index_img13.jpg" alt="Image 13"/>
                          									</a>
                          								</div>
                          								<div class="caption">
                          									<a class="btn_1 bg_1  type_1 text_2" href="#">Samantha, 21 years old</a>
                          								</div>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_4">
                          								<div class="img-wrap">
                          									<a data-type="linkbox" href="#">
                          										<img src="images/index_img14.jpg" alt="Image 14"/>
                          									</a>
                          								</div>
                          								<div class="caption">
                          									<a class="btn_1 bg_1  type_1 text_2" href="#">Jacob, 26 years old</a>
                          								</div>
                          							</div>
                          						</div>
                          					</div>
                          				</div>
                          			</div>
                          		</div>
                          	</div>

                          	<div class="stellar-section">
                          		<div class="stellar-block second">
                          			<div class="bg_5 wrap_10 wrap_11">
                          				<div class="container">
                          					<div class="row">
                          						<div class="grid_3">
                          							<div class="box_3">
                          								<a href="#" class="caption_1 maxheight1">
                          									<p class="text_2 color_1">Call</p>
                          									<img src="images/index_img15.png" alt="Image 15"/>
                          									<p class="color_1">+1 800 559 6580</p>
                          								</a>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_3">
                          								<a href="#" class="caption_1 maxheight1">
                          									<p class="text_2 color_1">Email</p>
                          									<img src="images/index_img16.png" alt="Image 16"/>
                          									<p class="color_1">
                          										<span>mail@demolink.org</span>
                          									</p>
                          								</a>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_3">
                          								<a href="#" class="caption_1 maxheight1">
                          									<p class="text_2 color_1">Follow</p>
                          									<img src="images/index_img17.png" alt="Image 17"/>
                          									<p class="color_1">
                          										<span>Facebook</span>
                          									</p>
                          								</a>
                          							</div>
                          						</div>
                          						<div class="grid_3">
                          							<div class="box_3">
                          								<a href="#" class="caption_1 maxheight1">
                          									<p class="text_2 color_1">Visit</p>
                          									<img src="images/index_img18.png" alt="Image 18"/>
                          									<p class="color_1">
                          										8901 Marmora Road, <br/>
                          										Glasgow
                          									</p>
                          								</a>
                          							</div>
                          						</div>
                          					</div>
                          				</div>
                          			</div>
                          		</div>
                          	</div>

                          </section>

<!--========================================================
                          FOOTER
                          =========================================================-->
                          <footer id="footer" class="color_9">
                          	<div class="container">
                          		<div class="row">
                          			<div class="grid_12">
                          				<p class="info color_1">
                          					Copyright
                          					©
                          					<span id="copyright-year"></span>
                          					|
                          					<a href="index-6.html">
                          						Privacy Policy
                          					</a>
                          					<!-- {%FOOTER_LINK} -->
                          				</p>
                          			</div>
                          		</div>
                          	</div>
                          </footer>
                        </div>


                      </body>
                      

                    </template>