/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
/* mouse grab icon */
.grabbing {
  cursor: url(../images/grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-controls {
  text-align: center;
}
.owl-controls .owl-pagination {
  display: inline-block;
}
.owl-controls .owl-pagination .owl-page {
  position: relative;
  float: left;
  width: 13px;
  height: 13px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 3;
}
.owl-controls .owl-pagination .owl-page.active,
.owl-controls .owl-pagination .owl-page:hover {
  background: #d82132;
}
.owl-controls .owl-pagination .owl-page + .owl-page {
  margin-left: 9px;
}
.owl-controls .owl-buttons {
  position: relative;
  display: inline-block;
  width: 199px;
  height: 25px;
  background: url("../images/delim.png") -14px 0;
}
.owl-controls .owl-buttons .owl-prev {
  position: absolute;
  top: 0;
  right: 100%;
  display: inline-block;
  width: 14px;
  height: 25px;
  background: url("../images/delim.png") no-repeat 0 0;
}
.owl-controls .owl-buttons .owl-prev:hover {
  background-position: 0 -25px;
}
.owl-controls .owl-buttons .owl-next {
  position: absolute;
  top: 0;
  left: 100%;
  display: inline-block;
  width: 14px;
  height: 25px;
  background: url("../images/delim.png") no-repeat -213px 0;
}
.owl-controls .owl-buttons .owl-next:hover {
  background-position: -213px -25px;
}
@media (max-width: 767px) {
  .owl-controls {
    display: none !important;
  }
}
#owl {
  padding-top: 31px;
}
#owl .owl-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#owl2 {
  padding-bottom: 58px;
}
#owl2 .owl-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (min-width: 768px) and (max-width: 979px) {
  .item .grid_2 {
    width: 236px;
  }
}
